
<!DOCTYPE html>
<html class="no-js" lang="{{=T.accepted_language or 'en'}}"> 
<head>
<title>{{=response.title or request.application}}</title>
  <meta charset="utf-8" />
  <meta name="application-name" content="{{=request.application}}" />
  <meta name="google-site-verification" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">

  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1Ha-nt8-dGh7nri_0T2Vk61stu6PIww0&sensor=true">
  </script>

  <!-- include stylesheets -->
    {{  
  response.files.append(URL('static','css/bootstrap.min.css'))
  response.files.append(URL('static','css/bootstrap-responsive.min.css'))
  response.files.append(URL('static','css/main.css'))
  response.files.append(URL('static','css/baystreet.css'))
  }}

  {{include 'web2py_ajax.html'}}

  {{block head}}{{end}}
</head>

<body>


    <!-- Part 1: Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">{{=response.title or request.application}}</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="nav-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>
    <!-- Begin page content -->
    <div class="container">



      <div>
          {{block center}}
          {{include}}
          {{end}}
      </div>

      <div id="push"></div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="muted credit">Al this work involved <a href="http://bdrydyk.pythonanywhere.com">Brandon Drydyk</a>.</p>
      </div>
    </div>
  </div>



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

      {{  
  response.files.append(URL('static','js/jquery.js'))
  response.files.append(URL('static','js/bootstrap-transition.js'))
  response.files.append(URL('static','js/bootstrap-alert.js'))
  response.files.append(URL('static','js/bootstrap-modal.js'))
  response.files.append(URL('static','js/bootstrap-dropdown.js'))
  response.files.append(URL('static','js/bootstrap-scrollspy.js'))
  response.files.append(URL('static','js/bootstrap-tab.js'))
  response.files.append(URL('static','js/bootstrap-tooltip.js'))
  response.files.append(URL('static','js/bootstrap-popover.js'))
  response.files.append(URL('static','js/bootstrap-button.js'))
  response.files.append(URL('static','js/bootstrap-collapse.js'))
  response.files.append(URL('static','js/bootstrap-carousel.js'))
  response.files.append(URL('static','js/bootstrap-typeahead.js'))
  }}

</body>
</html>

